scrapers/simple_reddit_intelligence.json
{
  "name": "RFRNCS Reddit Intelligence - Simple Version",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rfrncs-simple-reddit",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rfrncs-simple-reddit"
    },
    {
      "parameters": {
        "jsCode": "// Extract configuration from webhook\nconst body = $input.item.json.body || $input.item.json;\nconst url = body.url || body.text || body.link || '';\nconst subreddit = body.subreddit || '';\nconst keywords = body.keywords || ['branding', 'marketing', 'startup', 'logo design', 'rebranding'];\nconst days = body.days || 7;\nconst minUpvotes = body.min_upvotes || 5;\n\n// Extract subreddit from URL if provided\nlet extractedSubreddit = subreddit;\nif (url && !subreddit) {\n  try {\n    const urlObj = new URL(url);\n    if (urlObj.hostname.includes('reddit.com')) {\n      const pathParts = urlObj.pathname.split('/').filter(p => p);\n      if (pathParts[0] === 'r' && pathParts[1]) {\n        extractedSubreddit = pathParts[1];\n      }\n    }\n  } catch (e) {\n    console.log('URL parsing error:', e);\n  }\n}\n\nif (!extractedSubreddit) {\n  throw new Error('No subreddit provided. Send {\"url\": \"https://reddit.com/r/subreddit/\"} or {\"subreddit\": \"subreddit_name\"}');\n}\n\nreturn {\n  url: url,\n  subreddit: extractedSubreddit,\n  keywords: keywords,\n  days: days,\n  min_upvotes: minUpvotes,\n  requested_at: new Date().toISOString()\n};"
      },
      "name": "Extract Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/r/{{$json.subreddit}}/top.json",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-reddit-scraper/1.0 (https://www.rfrncs.in/)"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "t",
              "value": "week"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Fetch Subreddit Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Reddit API response\nconst response = $input.item.json;\nconst subreddit = $input.item.json.subreddit;\nconst keywords = $input.item.json.keywords || [];\nconst minUpvotes = $input.item.json.min_upvotes || 5;\n\nif (!response.data || !response.data.children) {\n  throw new Error('Invalid Reddit API response');\n}\n\nconst posts = response.data.children.map(child => {\n  const data = child.data;\n  return {\n    id: data.id,\n    title: data.title,\n    selftext: data.selftext || '',\n    score: data.score || 0,\n    num_comments: data.num_comments || 0,\n    author: data.author,\n    url: data.url,\n    permalink: data.permalink,\n    created_utc: data.created_utc,\n    subreddit: data.subreddit,\n    full_url: `https://reddit.com${data.permalink}`\n  };\n});\n\n// RFRNCS AI Classification\nconst relevantPosts = [];\n\nposts.forEach(post => {\n  // Quality filtering\n  if (post.score >= minUpvotes && post.selftext && post.selftext.trim().length > 10) {\n    // Keyword matching\n    const fullText = `${post.title} ${post.selftext}`.toLowerCase();\n    const keywordMatches = keywords.filter(keyword => \n      fullText.includes(keyword.toLowerCase())\n    );\n    \n    if (keywordMatches.length > 0) {\n      // Enhanced scoring for RFRNCS relevance\n      let relevanceScore = keywordMatches.length * 2;\n      \n      // Business intent scoring\n      const businessKeywords = ['startup', 'business', 'company', 'entrepreneur', 'founder', 'launch'];\n      if (businessKeywords.some(keyword => fullText.includes(keyword))) {\n        relevanceScore += 3;\n      }\n      \n      // Service opportunity scoring\n      const serviceKeywords = ['design', 'website', 'logo', 'brand', 'marketing', 'advertising'];\n      if (serviceKeywords.some(keyword => fullText.includes(keyword))) {\n        relevanceScore += 4;\n      }\n      \n      // Pain point scoring\n      const painKeywords = ['need help', 'struggling', 'looking for', 'bad design', 'poor branding'];\n      if (painKeywords.some(keyword => fullText.includes(keyword))) {\n        relevanceScore += 3;\n      }\n      \n      // Urgency indicators\n      const urgencyKeywords = ['asap', 'urgent', 'quickly', 'soon', 'deadline'];\n      if (urgencyKeywords.some(keyword => fullText.includes(keyword))) {\n        relevanceScore += 2;\n      }\n      \n      relevantPosts.push({\n        ...post,\n        keyword_matches: keywordMatches,\n        relevance_score: relevanceScore,\n        priority_level: relevanceScore >= 8 ? 'HIGH' : relevanceScore >= 5 ? 'MEDIUM' : 'LOW',\n        rfrncs_opportunity: relevanceScore >= 6\n      });\n    }\n  }\n});\n\n// Sort by relevance score\nrelevantPosts.sort((a, b) => b.relevance_score - a.relevance_score);\n\nreturn {\n  subreddit: subreddit,\n  keywords: keywords,\n  total_posts_analyzed: posts.length,\n  relevant_posts_found: relevantPosts.length,\n  high_priority_posts: relevantPosts.filter(p => p.priority_level === 'HIGH').length,\n  posts: relevantPosts,\n  processed_at: new Date().toISOString()\n};"
      },
      "name": "Process and Classify Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "opportunity-filter",
              "leftValue": "={{$json.relevant_posts_found}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger",
                "name": "n8n-nodes-base.larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check for Opportunities",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build AI analysis prompt\nconst data = $input.item.json;\n\nconst prompt = `You are a senior marketing strategist at RFRNCS (https://www.rfrncs.in/), a premier branding and marketing agency. Analyze these Reddit posts to identify business opportunities for RFRNCS.\n\nReturn ONLY valid JSON with:\n{\n  \"executive_summary\": \"Brief overview of key opportunities\",\n  \"hot_leads\": [{\"type\": \"Startup/SMB/Enterprise\", \"pain_points\": [\"issue1\"], \"services\": \"Branding/Marketing/Design\", \"urgency\": \"high/medium/low\"}],\n  \"market_trends\": [{\"trend\": \"description\", \"frequency\": 8, \"rfrncs_opportunity\": \"How RFRNCS can capitalize\"}],\n  \"action_items\": [\"specific recommendations for RFRNCS\"],\n  \"confidence_score\": 0.88\n}\n\nPosts to Analyze:\n${data.posts.map((post, i) => \n  `${i+1}. [${post.priority_level}] ${post.title}\\nScore: ${post.relevance_score}\\nContent: ${post.selftext.substring(0, 500)}...`\n).join('\\n\\n')}\n\nFocus on identifying actionable business opportunities for RFRNCS marketing services.`;\n\nreturn {\n  ...data,\n  ai_prompt: prompt\n};"
      },
      "name": "Build AI Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Create no-op for false branch\nreturn {\n  message: \"No relevant posts found for RFRNCS analysis\",\n  subreddit: $json.subreddit,\n  total_posts_analyzed: $json.total_posts_analyzed,\n  relevant_posts_found: 0,\n  processed_at: new Date().toISOString()\n};"
      },
      "name": "No Opportunities Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"contents\":[{\"parts\":[{\"text\":{{$json.ai_prompt}}}]}]}",
        "options": {}
      },
      "name": "Gemini AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// Create reports from analysis\nconst data = $input.item.json;\nconst response = $input.first().json;\n\nlet analysis = {\n  executive_summary: \"Analysis in progress\",\n  hot_leads: [],\n  market_trends: [],\n  action_items: [],\n  confidence_score: 0\n};\n\ntry {\n  if (response.candidates && response.candidates[0] && response.candidates[0].content) {\n    const text = response.candidates[0].content.parts[0].text || '';\n    const cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    analysis = JSON.parse(cleanText);\n  }\n} catch (e) {\n  console.error('AI Analysis parse error:', e);\n}\n\n// Create CSV\nlet csvContent = 'Priority,Title,Score,Opportunity,Author,URL\\n';\ndata.posts.forEach(post => {\n  csvContent += `${post.priority_level},\"${post.title.replace(/\"/g, '\"\"')}\",${post.relevance_score},${post.rfrncs_opportunity},${post.author},${post.full_url}\\n`;\n});\n\n// Create detailed report\nconst report = `RFRNCS REDDIT MARKETING INTELLIGENCE REPORT\\n`;\nreport += `==============================================\\n\\n`;\nreport += `Generated: ${new Date().toISOString()}\\n`;\nreport += `Subreddit: r/${data.subreddit}\\n`;\nreport += `Keywords: ${data.keywords.join(', ')}\\n\\n`;\n\nreport += `EXECUTIVE SUMMARY\\n`;\nreport += `${'='.repeat(16)}\\n${analysis.executive_summary}\\n\\n`;\n\nreport += `INTELLIGENCE OVERVIEW\\n`;\nreport += `${'='.repeat(20)}\\n`;\nreport += `• Posts Analyzed: ${data.total_posts_analyzed}\\n`;\nreport += `• Relevant Posts: ${data.relevant_posts_found}\\n`;\nreport += `• High Priority: ${data.high_priority_posts}\\n`;\nreport += `• AI Confidence: ${analysis.confidence_score}\\n\\n`;\n\nreport += `HOT LEADS IDENTIFIED\\n`;\nreport += `${'='.repeat(21)}\\n`;\nanalysis.hot_leads.forEach((lead, i) => {\n  report += `${i+1}. ${lead.type}\\n`;\n  report += `   Pain Points: ${lead.pain_points.join(', ')}\\n`;\n  report += `   Services: ${lead.services}\\n`;\n  report += `   Urgency: ${lead.urgency}\\n\\n`;\n});\n\nreport += `ACTION ITEMS\\n`;\nreport += `${'='.repeat(12)}\\n`;\nanalysis.action_items.forEach((item, i) => {\n  report += `${i+1}. ${item}\\n`;\n});\n\nreturn {\n  subreddit: data.subreddit,\n  keywords: data.keywords,\n  csv_data: csvContent,\n  report_data: report,\n  analysis: analysis,\n  total_posts: data.total_posts_analyzed,\n  relevant_posts: data.relevant_posts_found,\n  high_priority: data.high_priority_posts,\n  generated_at: new Date().toISOString()\n};"
      },
      "name": "Generate Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "mode": "csv",
        "fileName": "=rfrncs_intelligence_{{$json.subreddit}}_{{$now.format('YYYY-MM-DD_HHmmss')}}.csv",
        "options": {}
      },
      "name": "Save CSV Report",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "mode": "text",
        "fileName": "=rfrncs_report_{{$json.subreddit}}_{{$now.format('YYYY-MM-DD_HHmmss')}}.txt",
        "options": {}
      },
      "name": "Save Detailed Report",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "vihaankulkarni29@gmail.com",
        "subject": "=🎯 RFRNCS Reddit Intelligence: r/{{$json.subreddit}} ({{$json.high_priority}} Hot Leads!)",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #2563eb;\">🎯 RFRNCS Reddit Marketing Intelligence</h2>\n  \n  <div style=\"background: #f3f4f6; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n    <h3 style=\"margin-top: 0;\">📊 Analysis Results</h3>\n    <p><strong>Subreddit:</strong> r/{{$json.subreddit}}</p>\n    <p><strong>Total Posts:</strong> {{$json.total_posts}}</p>\n    <p><strong>Relevant Posts:</strong> {{$json.relevant_posts}}</p>\n    <p><strong>🔥 High Priority Leads:</strong> {{$json.high_priority}}</p>\n    <p><strong>Keywords:</strong> {{$json.keywords.join(', ')}}</p>\n  </div>\n  \n  <div style=\"background: #fef3c7; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n    <h3 style=\"margin-top: 0; color: #92400e;\">💰 Executive Summary</h3>\n    <p>{{$json.analysis.executive_summary}}</p>\n  </div>\n  \n  <div style=\"background: #dcfce7; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n    <h3 style=\"margin-top: 0; color: #166534;\">🎯 Hot Leads Identified</h3>\n    <p><strong>{{$json.analysis.hot_leads.length}} potential business opportunities</strong></p>\n  </div>\n  \n  <p>📎 <strong>Attachments:</strong></p>\n  <ul>\n    <li>CSV Report: Structured data for analysis</li>\n    <li>Detailed Report: Complete intelligence summary</li>\n  </ul>\n  \n  <p style=\"color: #6b7280; font-size: 12px;\">Generated: {{$now.format('YYYY-MM-DD HH:mm:ss')}} | RFRNCS AI Marketing Intelligence</p>\n</div>",
        "attachments": "={{$node['Save CSV Report'].binary.data}},{{$node['Save Detailed Report'].binary.data}}",
        "options": {}
      },
      "name": "Email Intelligence Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2050, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [ [ { "node": "Extract Configuration", "type": "main", "index": 0 } ] ] },
    "Extract Configuration": { "main": [ [ { "node": "Fetch Subreddit Posts", "type": "main", "index": 0 } ] ] },
    "Fetch Subreddit Posts": { "main": [ [ { "node": "Process and Classify Posts", "type": "main", "index": 0 } ] ] },
    "Process and Classify Posts": { "main": [ [ { "node": "Check for Opportunities", "type": "main", "index": 0 } ] ] },
    "Check for Opportunities": { "main": [ [ { "node": "Build AI Analysis Prompt", "type": "main", "index": 0 } ], [ { "node": "No Opportunities Found", "type": "main", "index": 0 } ] ] },
    "Build AI Analysis Prompt": { "main": [ [ { "node": "Gemini AI Analysis", "type": "main", "index": 0 } ] ] },
    "Gemini AI Analysis": { "main": [ [ { "node": "Generate Reports", "type": "main", "index": 0 } ] ] },
    "Generate Reports": { "main": [ [ { "node": "Save CSV Report", "type": "main", "index": 0 }, { "node": "Save Detailed Report", "type": "main", "index": 0 } ] ] },
    "Save CSV Report": { "main": [ [ { "node": "Email Intelligence Report", "type": "main", "index": 0 } ] ] },
    "Save Detailed Report": { "main": [ [ { "node": "Email Intelligence Report", "type": "main", "index": 0 } ] ] }
  },
  "settings": {}
}
